@CHARSET "UTF-8";
body {
	font-size: 125%;
}
header {
	background-color: #0D0F40;
	color: white;
	padding-left: 0.10em;
}
#logo {
	
}
h1 {
	color: white;
	font-size: 150%;
	margin-left: 2.5em;	

}
section {
	display: block;
	margin: 0px auto;
	width: 30%;
}
form {
	text-align: center;
}
/*
form > * {
	margin: 1em;
}
*/
#box {
	text-align: right;
}
input {
 	margin: 1em;
 }
